body{
    font-family: arial
}

h1{
    border: solid;
    border-color: blue;
    padding: 15px;
    text-align: center;
}

td{
    border:solid;
    border-color: blue;
}

#button {
    background: #E06666;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}