body {
    background: black;
    font-family: serif;
    color: bisque;
}

h1 {
    margin: 2%;
    background: #E06666;
    border-style: solid;
    border-color: bisque;
    border-width: 5px;
    padding: 10px;
    text-align: center;
    color: bisque;
}

p {
    color: rgb(31, 206, 212);
}

a {
    color: bisque
}