<!DOCTYPE html>

<html>
    <head>
        <title>[About] My First App</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
    </head>
    <body>
        <h1>About</h1>
        <h2>Hi {{ name }}!</h2>
        <p>This is my first website that I am making using Python.
        <br>I am from class {{ class_ }}.</p> <!--insert jinja variable here (class_) to render data-->
        <p>Check out my GitHub accounts here:<br>
        <br><a href = "https://github.com/DenseLance">DenseLance</a>
        <br><a href = "https://github.com/invalidated-username/">invalidated-username</a></p>
        <a href = "/"><button>Back?</button></a>

        <h3>Check age</h3>
        {# This block outputs a statement depending on the age #}
        {% if age < 18 %}
            <p>You are considered a teenager.</p>
        {% elif 18 <= age <= 50 %}
            <p>You are considered an adult. </p>
        {% else %}
            <p>You are considered a senior.</p>
        {% endif %}

        <h3>Print my name using for loops</h3>
        {% for c in name %}
            <p>Let's print each letter: {{c}}</p>
        {% endfor %}

        <h3>Filter examples</h3>
        <p>Print of double curly brackets: {{ "{{" }}</p>
        <p>Length of name: {{ name | length }}</p>
        <p>Safe html: {{ "<hr>" | safe}}</p>
        <p>Without safe html: {{ "<hr>" }}</p> <!--Convert html tag into html-->
    </body>
</html>
