<!DOCTYPE html>

<html>
    <head>
        <title>My Website</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
    </head>
    <body>
        <table id = "navigation">
            <tr>
                <td><a href = "/">Home</a></td>
                <td><a href = "/about">About</a></td>
                <td><a href = "/rp_calc">RP Calculator</a></td>
            </tr>
        </table>
        <h1>Rank Point Calculator</h1>
        <form action = "/rp_calc/" method = "POST" id = "settings">
            <p>Do you wish to include result of PW?</p>
            <select name = "PW">
                <option value = "yes">Yes</option>
                <option value = "no">No</option>
            </select>
            <p>Do you wish to include result of Mother Tongue Language?</p>
            <select name = "MT">
                <option value = "yes">Yes</option>
                <option value = "no">No</option>
            </select>
            <p><input type = "submit" value = "Update"></p>
        </form>
    </body>
</html>