<!DOCTYPE html>

<html>
    <head>
        <title>My Website</title>
        <link rel = "stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <table id = "navigation">
            <tr>
                <td><a href = "/">Home</a></td>
                <td><a href = "/about">About</a></td>
                <td><a href = "/rp_calc">RP Calculator</a></td>
            </tr>
        </table>
        <h1>My Home Page</h1>
        <p>This is my home page.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat perferendis similique qui placeat eligendi vel quibusdam repellendus mollitia nulla inventore a, eos cumque modi in esse itaque accusantium atque?</p>
    </body>
</html>