<!DOCTYPE html>

<html lang = 'en'>
    <head>
        <title>Forum</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/style.css') }}">
    </head>
    <body>
        <table>
            <tr>
                <td><a href = "{{ url_for('forum') }}">Forum</a></td>
                <td><a href = "{{ url_for('sign_up') }}">Sign Up</a></td>
                <td><a href = "{{ url_for('sign_in') }}">Sign In</a></td>
                <td><a href = "{{ url_for('update') }}">Update</a></td>
                <td><a href = "{{ url_for('delete') }}">Delete</a></td>
            </tr>
        </table>
        <table id = "forum">
            <tr>
                <th>Post Number</th>
                <th>User</th>
                <th>Post</th>
            </tr>
            {% for post in board %}
            <tr>
                <td>{{ post[0] }}</td>
                <td>{{ post[1] }}</td>
                <td>{{ post[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>