<!DOCTYPE html>

<html lang = 'en'>
    <head>
        <title>Sign Up</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/style.css') }}">
    </head>
    <table>
        <tr>
            <td><a href = "{{ url_for('forum') }}">Forum</a></td>
            <td><a href = "{{ url_for('sign_up') }}">Sign Up</a></td>
            <td><a href = "{{ url_for('sign_in') }}">Sign In</a></td>
            <td><a href = "{{ url_for('update') }}">Update</a></td>
            <td><a href = "{{ url_for('delete') }}">Delete</a></td>
        </tr>
    </table>
    <body>
        <form action = "{{ url_for('sign_up') }}" method = "POST">
            <p>
                Email: 
                <input name = "email" type = "email" placeholder = "tom@example.com" required autofocus>
            </p>
            <p>
                Username:
                <input name = "username" type = "text" placeholder = "Tom" required autofocus>
            </p>
            <p>
                Password:
                <input name = "password" type = "password" required autofocus>
            </p>
            <p>
                <input value = "Sign up!" type = "submit">
            </p>
        </form>
        {% if create_account == False %}
        <p class = "error">Username has already been taken. Please use another username.</p>
        {% elif create_account == True %}
        <p class = "success">Account created!</p>
        {% endif %}
    </body>
</html>