<!-- extend from base.html -->
{% extends "base.html" %}

<!-- title -->
{% block title %}About{% endblock %}

<!-- head -->
{% block head %}
    {{ super() }}
{% endblock %}

<!-- navigation bar -->
{% block navigation %}
    {{ super() }}
{% endblock %}

<!-- main content -->
{% block content %}
    {{ super() }}
    <h2>About NanoVoid</h2>
    <p>NanoVoid exists to make games fun.</p>
    <h2>About Me</h2>
    <p>It's a-me Mario!</p>
    <img height = "150px", width = "250px", src = "{{ url_for('static', filename = 'pictures/mario.jpg') }}" />
{% endblock %}

<!-- copyright -->
{% block copyright %}
    {{ super() }}
{% endblock %}