/* whole website */
body {
    background-color: #efeff7 !important;
    font-family: Helvetica;
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-family: Helvetica;
    font-size: 24px !important;
    font-weight: bold ! important; 
}

/* main content */
#content {
    margin-top: 1% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

/* navigation bar */
#navigation h1 {
    font-family: Century Gothic;
    font-size: 30px;
    text-align: left;
    padding: 15px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: grey;
}
#navigation table {
    width: 100%;
    align-content: center;
}

#navigation td {
    width: 120px;
}

#navigation table.name td {
    text-align: left;
}

#navigation div.function {
    display: flex;
    justify-content: space-between;
}

#navigation div.function a {
    font-size: 20px;
    font-weight: bold;
}

#navigation a {
    text-decoration: None;
}

#navigation a:link {
    color: black;
}

#navigation a:hover {
    color: white !important;
}

#navigation a:visited {
    color: black;
}

/* copyright */
#copyright {
    margin-right: 0.5%;
    font-family: Helvetica;
    font-size: 12px;
    text-align: right;
}

