h1 {
    text-align: center;
    font-family: Century Gothic;
}

body { 
    font-family: Helvetica; 
}

button { 
    text-align: center;
    position: center;
}

p {
    border: solid;
    border-color: black;
}

/* Moving title start */
.moving-title {
    background-color: red;
    position: relative;
    animation-name: circle;
    animation-duration: 4s;
    animation-direction: reverse;  
}

@keyframes circle {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
/* Moving title end */